{% extends "layout.html" %}
{% set active_page = "cloud" %}
{% block head %}
<style type="text/css">
.cloud {
	height: 600px;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<div class="cloud"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/javascript/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/javascript/d3.layout.cloud.js"></script>
<script src="/static/javascript/cloud.js"></script>
<script type="text/javascript">
	// cloud
	/*
	var words = [
			"Lorem", "ipsum", "dolor", "sit", "amet", "consectetur", "adipiscing", "elit", "Donec", "sodales", "erat", "a", "lectus", "pretium", "viverra", "Vivamus", "eu", "turpis", "vitae", "tellus", "suscipit", "condimentum", "ac", "vitae", "sapien", "Curabitur", "elementum", "condimentum", "sapien", "vitae"].map(function(d) {
			return {text: d, size: 20 + Math.random() * 90};
		});
	*/

	var words = {{ cloud_data|safe }};
	// Dynamically resize map based on browser size
	var resize = function() {
		var height = $(window).height() - $(".cloud").offset().top - $('.footer').outerHeight() - 40;
		if(height < 300) { height = 300; }
		$(".cloud").height(height);
		console.log("resizing to " + height);
		makeCloud('.cloud', words);
	}

	$(window).resize(resize);
	resize();
</script>
{% endblock %}