{% extends "layout.html" %}
{% set active_page = "cloud" %}
{% block head %}
<style type="text/css">
	h2 {
		font-size: 80px;
		line-height: 300px;
		text-align: center;
	}

	.main-cloud {
		height: 300px;
	}

	.set-cloud {
		height: 200px;
	}

	h3 a {
		color: #333;
	}

	h3 a:hover {
		text-decoration: none;
	}

	.data-gov-link {
		float: right;
	}
</style>
{% endblock %}

{% block body %}
<div class="row">
	<div class="span5">
		<h2>{{ word|e }}</h2>
	</div>
	<div class="span7">
		<div class="cloud main-cloud"></div>
	</div>
</div>

{% for dataset in datasets %}
<div class="row">
	<div class="span7">
		<h3><a href="#">{{ dataset.name|e }}</a></h3>
		<p>{{ dataset.description|e }}</p>
		<a class="data-gov-link" href="http://opendata.linkdigital.com.au/dataset/{{ dataset.url_name|e }}">view on data.gov.au <i class="icon-double-angle-right"></i></a>
	</div>
	<div class="span5">
		<div id="cloud-{{ dataset.id }}" class="cloud set-cloud"></div>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script src="/static/javascript/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/javascript/d3.layout.cloud.js"></script>
<script src="/static/javascript/cloud.js"></script>
<script type="text/javascript">
	// cloud
	/*var words = [
			"Lorem", "ipsum", "dolor", "sit", "amet", "consectetur", "adipiscing", "elit", "Donec", "sodales", "erat", "a", "lectus", "pretium", "viverra", "Vivamus", "eu", "turpis", "vitae", "tellus"].map(function(d) {
			return {text: d, size: 15 + Math.random() * 70};
		}); */

	makeCloud('.main-cloud', {{ cloud_data|safe }});

	{% for dataset in datasets %}
		makeCloud('#cloud-{{ dataset.id }}', {{ dataset_clouds[dataset]|safe }});
	{% endfor %}
</script>
{% endblock %}